<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Top menu item -->
    <menuitem name="Doggo Hotel"
              id="hotel_main_menu"
              sequence="0"/>
    <menuitem name="Guest Details"
              id="menu_guest_master"
              parent="hotel_main_menu"
              sequence="0"/>
    <menuitem name="Reservations"
              id="menu_reservation_master"
              parent="hotel_main_menu"
              sequence="0"/>
    <menuitem name="Configurations"
              id="menu_configurations"
              parent="hotel_main_menu"
              sequence="0">
        <menuitem name="Cancel Reservation"
                  id="menu_cancel_reservation"
                  action="action_cancel_reservation"
                  sequence="3"/>
    </menuitem>


</odoo>